body {
    background: rgb(193, 178, 216);
}

.content {
    border: 2px, solid, rgb(166, 148, 194);
    border-radius: 18px;
    padding: 40px;
    margin-top: 40px;
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 20px;
    background: rgb(166, 148, 194);
    box-shadow: 6px 6px 6px #5f5f5f;
    text-align: center;
    max-height: 500px;
}

.form {
    display: flex;
    justify-content: center;
}

hr {
    background-color: white;
    border: 0.5px solid rgb(230, 203, 233);
    position: relative;
    top: 15px;
}

input[type=search] {
    background: rgb(230, 203, 233);
    font-style: italic;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 40px;
    width: 40%;
    border: 2px, solid, rgb(250, 213, 245);
    border-radius: 8px;
}

.button {
    font-family: "Coming Soon", cursive;
    background: rgb(230, 203, 233);
    color: rgb(105, 92, 124);
    display: block;
    margin: 0 auto;
    padding:10px 15px;
    position: relative;
    right: 85px;
    border: 2px, solid, rgb(250, 213, 245);
    border-radius: 8px;
}

.button:hover {
    background: rgb(166, 148, 194);
    color: rgb(250, 213, 245);
    cursor: pointer;
}

h1 {
    font-family: "Coming Soon", cursive;
    color: rgb(105, 92, 124);
    position: relative;
    top: 40px;
    font-size: 35px;
}

.weather-icon {
    width: 60px;
    height: 65px;
    position: relative;
    top: 5px;
}

h2 {
    font-family: "Coming Soon", cursive;
    font-weight: 600;
    font-style: normal;
    color: rgb(250, 213, 245);
    font-size: 50px;
    position: relative;
    top: -50px
}

p {
    font-family: "Coming Soon", cursive;
    font-weight: 600;
    font-style: normal;
    color: rgb(105, 92, 124);
    position: relative;
    top: -90px;
    line-height: 25px;
    font-size: 15px;
}

.weather-forecast {
    position: relative;
    bottom: 40px;
}
.weather-forecast-date {
    text-align: center;
    font-family: "Coming Soon", cursive;
    font-weight: 600;
    font-style: normal;
    color: rgb(250, 213, 245);
    font-size: 15px;
}

.weather-forecast-icon {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    position: relative;
    top: -5px;
}

.weather-forecast-temp {
    text-align:center;
    font-family: "Coming Soon", cursive;
    color: rgb(105, 92, 124);
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

footer {
    text-align: center;
    font-family: monospace;
    color:rgb(105, 92, 124);
}

